@using Training.DAL.Entities;

@model CourseStudentViewModel
<h2>Add new Course</h2>
<form asp-action="Create" id="form">
    <partial name="_CreateEditDeleteCourseOfStudent" />

    <br />
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>

</form>
