@using Training.DAL.Entities;

@model StudentWithCourseViewModel
<h2>Update Course of Student</h2>
<form asp-action="Edit" id="form" data-id="@(Model?.ID ?? null)">
    <partial name="_CreateEditCourseStudent" />
    <br />
    <div class="col-auto">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
