@using Training.DAL.Entities;

@model TeacherViewModel
<h2>Add new Teacher</h2>
<form asp-action="Create" id="form" enctype="multipart/form-data">
    <partial name="_CreateEditTeacherPartialView" />
    <div class="col-auto">
        <label asp-for="Image" class="col-form-label"></label>
    </div>
    <div class="col-auto">
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>

</form>
