
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_AccountFormsLayout";
}

@model ForgetPasswordViewModel
<form class="signup-form" asp-action="ForgetPassword">

	<div class="row">

		<div class="col-md-12">
			<div class="form-group">
				<label class="label" asp-for="Email"></label>
				<input asp-for="Email" class="form-control">
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<button type="submit" class="btn btn-primary submit p-3">Reset Password</button>
			</div>
		</div>
	</div>
	@* all errors will be shown in this div *@
	<div asp-validation-summary="All"></div>
</form>


