
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "_AccountFormsLayout";
}

<h3>Reset new password has done successfully</h3>
<h3>please login again</h3>
<button class="btn btn-outline-dark" href="/Account/LogIn">Login</button>

