
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_AccountFormsLayout";
}

@model ResetPasswordViewModel
<form class="signup-form" asp-action="ResetPassword">

	<div class="row">
		
		<div class="col-md-12">
			<div class="form-group">
				
				<input asp-for="Email" class="form-control" type="hidden">
				<input asp-for="Token" class="form-control" type="hidden">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="label" asp-for="NewPassword"></label>
				<input asp-for="NewPassword" class="form-control">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="label" asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<button type="submit" class="btn btn-primary submit p-3">Reset Password</button>
			</div>
		</div>
	</div>
	<div asp-validation-summary="All"></div>
</form>


